/.local/
/.venv/
/logs/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
/build/
/dist/
.vscode/
.idea/
**/.history/
*.sqlite3*
*.positions.json

/config.json

*.json.lock

*.topology.lock
